{namespace h=HDNET\Hdnet\ViewHelpers}
<div class="application">
	<h1>Bewerbungsformular</h1>

	<f:if condition="{applicationRequest.offer}">
		<f:then>
			<h3>Ihre Bewerbung für die Stelle: <b>{applicationRequest.offer.title}</b></h3>
		</f:then>
		<f:else>
			<h3>Initiativbewerbung</h3>
		</f:else>
	</f:if>

	<f:render partial="FormErrors" />

	<f:form action="mail" object="{applicationRequest}" objectName="applicationRequest" id="applicationRequest">
		<fieldset>
			<legend>
				Persönliche Daten
			</legend>
			<div class="gender">
				<label>
					<h:translate key="application.gender">Gender:</h:translate>
				</label>
				<f:form.select property="gender" options="{genders}" optionValueField="uid" prependOptionLabel=" " prependOptionValue="{gender}" class="text validate[required]"/>
			</div>
			<div class="lastname">
				<label>
					<h:translate key="application.lastname">Lastname:</h:translate>
				</label>
				<f:form.textfield property="lastname" placeholder="{h:translate(key: 'application.lastname', default:'Please insert')}" value="{lastname}" class="text validate[required]"/>
			</div>
			<div class="firstname">
				<label>
					<h:translate key="application.firstname">Firstname:</h:translate>
				</label>
				<f:form.textfield property="firstname" placeholder="{h:translate(key: 'application.firstname', default:'Please insert')}" value="{firstname}" class="text validate[required]"/>
			</div>
			<div class="street_streetNumber">
				<label>
					<h:translate key="application.street">Street/Nr:</h:translate>
				</label>
				<f:form.textfield property="street" placeholder="{h:translate(key: 'application.street', default:'Please insert')}" value="{street}" class="text validate[required]"/>
				<label>
					<h:translate key="application.streetNumber" />
				</label>
				<f:form.textfield property="streetNumber" placeholder="{h:translate(key: 'application.streetNumberLabel', default:'Nr')}" value="{streetNumber}" class="text validate[required]"/>
			</div>
			<div class="zip">
				<label>
					<h:translate key="application.zip">ZIP:</h:translate>
				</label>
				<f:form.textfield property="zip" placeholder="{h:translate(key: 'application.zip', default:'Please insert')}" value="{zip}" class="text validate[required]"/>
			</div>
			<div class="city">
				<label>
					<h:translate key="application.city">City:</h:translate>
				</label>
				<f:form.textfield property="city" placeholder="{h:translate(key: 'application.city', default:'Please insert')}" value="{city}" class="text validate[required]"/>
			</div>
			<div class="country">
				<label>
					<h:translate key="application.country">Country:</h:translate>
				</label>
				<f:form.select property="country" options="{countries}" optionValueField="uid" prependOptionLabel=" " prependOptionValue="{country}" class="text validate[required]"/>
			</div>
			<div class="phone">
				<label>
					<h:translate key="application.phone">Phone:</h:translate>
				</label>
				<f:form.textfield property="phone" placeholder="{h:translate(key: 'application.phone', default:'Please insert')}" value="{phone}" class="text validate[required]"/>
			</div>
			<div class="email">
				<label>
					<h:translate key="application.email">E-Mail:</h:translate>
				</label>
				<f:form.textfield property="email" placeholder="{h:translate(key: 'application.email', default:'Please insert')}" value="{email}" class="text validate[required]"/>
			</div>
			<div class="message">
				<label>
					<h:translate key="application.Message">Message:</h:translate>
				</label>
				<f:form.textarea property="message" value="{message}" />
			</div>
			<f:form.hidden property="offer" />
			<div class="uploads">
				<labal>
					<h:translate key="application.uploads">Uploads:</h:translate>
				</labal>
				<f:form.upload name="file" />
			</div>
		</fieldset>
		<f:form.submit name="apply" value="apply" />
	</f:form>
</div>