
<h1>FILTER</h1>
<f:render partial="Profession/TextSearch" arguments="{_all}" />
<f:render partial="Profession/FilterSearch" arguments="{_all}" />

<f:if condition="{f:count(subject : offers)} > 5">
	<f:then>
		<div class="paginate-wrap">
			<f:widget.paginate objects="{offers}" as="pageOffers" configuration="{itemsPerPage: settings.listLimit}">
				<ul class="offers-list">
					<f:for each="{offers}" as="offer">
						<f:render partial="Profession/Offer" arguments="{offer: offer}" />
					</f:for>
				</ul>
			</f:widget.paginate>
		</div>
	</f:then>
	<f:else>
		<ul class="offer-list">
			<f:for each="{offers}" as="offer">
				<f:render partial="Profession/Offer" arguments="{offer: offer}" />
			</f:for>
		</ul>
	</f:else>
</f:if>