<f:flashMessages />
<ul class="errors">
	<f:form.errors>
		<li>{error.code}: {error.message}</li>
	</f:form.errors>
</ul>

<div class="search" style="margin-bottom: 20px">
	<H2>Volltextsuche</H2>

	<div class="full" style="height:95px; width:100%; background-color:lime;">
		<fieldset>
			<h3>
				<f:translate key="searchfield.fullSearch">Text search:</f:translate>
			</h3>
			<f:form action="search">
				<f:form.textfield name="searchWord" value="{searchWord}" placeholder="{f:translate(key: 'searchfield.searchWordLabel', default:'search')}" />
				<br /><br />
				<f:form.submit name="seach" value="{f:translate(key: 'searchfield.searchSubmit', default:'search')}" />
			</f:form>
		</fieldset>
	</div>
	<br />
</div>